<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic-Vue_09_v-if 와 v-show</title>
    <style>
        .red{
            color: red;
        }
        .font-bold {
            font-weight: bold;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <template v-if="show"> <!-- 랜더링이 아예 되지 않음 -->
            <div>1</div>
            <div>2</div>
            <div>3</div>
        </template>
        <button @click="toggleShow">Toggle</button><br><br>

        <template v-if="number === 1">
            <div>test1</div>
            <div>test2</div>
            <div>test3</div>
        </template>
        <div v-else-if="number === 2">Hi</div>
        <div v-else>No</div>
        <button @click="increaseNumber">Increase</button> {{ number }}<br><br>

        <div v-show="show1">Yes</div> <!-- 랜더링은 되지만 스타일 display:none 처리 (매우 자주 바꾸기를 원한다면 자주 사용) -->
        <button @click="toggle">Toggle</button>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                show: true, // false 입력시 아무것도 입력 되지 않음
                show1: false,
                number: 1
            },
            methods: {
                toggleShow() {
                    this.show = !this.show;
                },
                increaseNumber() {
                    this.number++;
                },
                toggle() {
                    this.show1 = !this.show1;
                }
            },
        })
    </script>
</body>
</html>